### Spacy Tokenization :

In [5]:
import warnings
warnings.filterwarnings('ignore')
import spacy

In [6]:
nlp = spacy.load('en_core_web_sm')
doc = nlp("Mr. firas ayari,notebook's author, is 23 years old. He is an AI enthusiast")
for sentence in doc.sents :
    print(sentence)

Mr. firas ayari,notebook's author, is 23 years old.
He is an AI enthusiast

In [7]:
for sentence in doc.sents:
    for word in sentence:
        print(word)

Mr.
firas
ayari
,
notebook
's
author
,
is
23
years
old
.
He
is
an
AI
enthusiast

In [17]:
nlp=spacy.blank('en')
doc = nlp("Dr. Strange loves pav bhaji of mumbai as it costs only 2$ per plate.")
for token in doc:
    print(token)

Dr.
Strange
loves
pav
bhaji
of
mumbai
as
it
costs
only
2
$
per
plate
.

In [23]:
doc[1:5]

Strange loves pav bhaji

In [24]:
type(doc)

spacy.tokens.doc.Doc

In [25]:
type(nlp)

spacy.lang.en.English

In [26]:
type(token)

spacy.tokens.token.Token

In [27]:
type(doc[1:5])

spacy.tokens.span.Span

### Token attributes :

In [28]:
doc = nlp("Tony gave two $ to Peter.")

In [29]:
token0 = doc[0]
token0

Tony

In [30]:
token0.is_alpha

True

In [31]:
token2 = doc[2]
token2

two

In [32]:
token2.like_num

True

In [33]:
token3 = doc[3]
token3

$

In [34]:
dir(token)

['_',
 '__bytes__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__unicode__',
 'ancestors',
 'check_flag',
 'children',
 'cluster',
 'conjuncts',
 'dep',
 'dep_',
 'doc',
 'ent_id',
 'ent_id_',
 'ent_iob',
 'ent_iob_',
 'ent_kb_id',
 'ent_kb_id_',
 'ent_type',
 'ent_type_',
 'get_extension',
 'has_dep',
 'has_extension',
 'has_head',
 'has_morph',
 'has_vector',
 'head',
 'i',
 'idx',
 'iob_strings',
 'is_alpha',
 'is_ancestor',
 'is_ascii',
 'is_bracket',
 'is_currency',
 'is_digit',
 'is_left_punct',
 'is_lower',
 'is_oov',
 'is_punct',
 'is_quote',
 'is_right_punct',
 'is_sent_end',
 'is_sent_start',
 'is_space',
 'is_stop',
 'is_title',
 'is_upper',
 'lang',
 'lang_',
 'left_edge',
 'lefts',
 'lemma',
 'lemma_',
 'lex',
 'lex_id',
 'like_email',
 'like_num',
 'like_url',
 'lower',
 'lower_',
 'morph',
 'n_lefts',
 'n_rights',
 'nbor',
 'norm',
 'norm_',
 'orth',
 'orth_',
 'pos',
 'pos_',
 'prefix',
 'prefix_',
 'prob',
 'rank',
 'remove_extension',
 'right_edge',
 'rights',
 'sent',
 'sent_start',
 'sentiment',
 'set_extension',
 'set_morph',
 'shape',
 'shape_',
 'similarity',
 'subtree',
 'suffix',
 'suffix_',
 'tag',
 'tag_',
 'tensor',
 'text',
 'text_with_ws',
 'vector',
 'vector_norm',
 'vocab',
 'whitespace_']

In [36]:
token3.is_currency

True

In [37]:
for token in doc:
    print(token, "==>", "index: ", token.i,
          "is_alpha:", token.is_alpha, 
          "is_punct:", token.is_punct, 
          "like_num:", token.like_num,
          "is_currency:", token.is_currency,
         )

Tony ==> index:  0 is_alpha: True is_punct: False like_num: False is_currency: False
gave ==> index:  1 is_alpha: True is_punct: False like_num: False is_currency: False
two ==> index:  2 is_alpha: True is_punct: False like_num: True is_currency: False
$ ==> index:  3 is_alpha: False is_punct: False like_num: False is_currency: True
to ==> index:  4 is_alpha: True is_punct: False like_num: False is_currency: False
Peter ==> index:  5 is_alpha: True is_punct: False like_num: False is_currency: False
. ==> index:  6 is_alpha: False is_punct: True like_num: False is_currency: False

### Collecting email ids of students from students information sheet :

In [38]:
with open("students.txt") as f:
    text = f.readlines()
text

['\n',
 "'Dayton high school, 8th grade students information\\,\n",
 " '==================================================\\n',\n",
 " '\\n',\n",
 " 'Name\\tbirth day   \\temail\\n',\n",
 " '-----\\t------------\\t------\\n',\n",
 " 'Virat   5 June, 1882    virat@kohli.com\\n',\n",
 " 'Maria\\t12 April, 2001  maria@sharapova.com\\n',\n",
 " 'Serena  24 June, 1998   serena@williams.com \\n',\n",
 " 'Joe      1 May, 1997    joe@root.com\\n',\n",
 " '\\n',\n",
 " '\\n',\n",
 " '\\n']"]

In [39]:
text = ' '.join(text)

In [40]:
text

"\n 'Dayton high school, 8th grade students information\\,\n  '==================================================\\n',\n  '\\n',\n  'Name\\tbirth day   \\temail\\n',\n  '-----\\t------------\\t------\\n',\n  'Virat   5 June, 1882    virat@kohli.com\\n',\n  'Maria\\t12 April, 2001  maria@sharapova.com\\n',\n  'Serena  24 June, 1998   serena@williams.com \\n',\n  'Joe      1 May, 1997    joe@root.com\\n',\n  '\\n',\n  '\\n',\n  '\\n']"

In [45]:
text = text.replace('\n', '').replace('\t', '').replace('\\n','').replace('=','').replace('\\','')
text

" 'Dayton high school, 8th grade students information,  '',  '',  'Nametbirth day   temail',  '-----t------------t------',  'Virat   5 June, 1882    virat@kohli.com',  'Mariat12 April, 2001  maria@sharapova.com',  'Serena  24 June, 1998   serena@williams.com ',  'Joe      1 May, 1997    joe@root.com',  '',  '',  '']"

In [46]:
doc=nlp(text)
for token in doc:
    if token.like_email :
        print(token)

virat@kohli.com
maria@sharapova.com
serena@williams.com
joe@root.com

### Extract money info :

In [51]:
transactions = "Tony gave two $ to Peter, Bruce gave 500 € to Steve"
doc=nlp(transactions)
l=[]
for token in doc :
    if token.like_num or token.is_currency :
        l.append(token)
for i in range(0,len(l),2):
    print(str(l[i])+' '+str(l[i+1]))

two $
500 €

### NTLK Tokenization :

In [11]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\msi\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [16]:
from nltk.tokenize import sent_tokenize
sent_tokenize("Mr. firas ayari,notebook's author, is 23 years old. He is an AI enthusiast")

["Mr. firas ayari,notebook's author, is 23 years old.",
 'He is an AI enthusiast']